@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page-footer-wrapper {
  width: 100%;
  border-top: 1px solid var(--rule-color);
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: $space-lg 0;
  font-family: $font-family;
  font-size: 0.8rem;
  color: var(--faint-text-color);
  @include content-max-width;

  a {
    color: var(--faint-text-color);

    &:hover {
      color: var(--primary-text-color);
    }
  }
}
