@use '../../styles/variables' as *;

.interest-list {
  li {
    padding-left: $space-md;
    border-left: 2px solid var(--border-color);
    margin-bottom: $space-md;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .interest-title {
    font-weight: 700;
    color: var(--primary-text-color);
  }

  .interest-description {
    color: var(--content-text-color);
  }
}
